/*.body {*/
    /*font-family: 'Roboto', sans-serif;*/
/*}*/

.ss-my-font {
    font-family: 'Handlee', cursive;
    font-weight:bold;
}

.ss-my-font2 {
    font-family: 'Raleway', sans-serif;
}

.ss-prj-title {
    /*font-size: 21px;*/
    font-size: 24px;
}

.ss-prj-content {
    /*font-size: 14px;*/
    font-size: 16px;
}

.ss-linkedin-blue{
    color: rgb(0,119,181) !important;
}

.ss-white-font{
    color: white !important;
}

.ss-black-font{
    color: black !important;
}

.ss-collapsible-top-padding{
    padding-top: 15px;
}

.ss-bottom-margin{
    margin-bottom: 2px;
}

.ss-bottom-margin2{
    margin-bottom: 60px;
}

.img-circle {
    border-radius: 50%;
}

.ss-padding{
    padding-top: 25px;
}

.ss-navbar-menu-items-color{
    color: grey !important;
}

.ss-navbar-transparent{
    opacity: 1;
}

.ss-icon-black{
    color: black !important;
}

.ss-project-info-padding{
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0.9;
}